/* You can add global styles to this file, and also import other style files */

/* @import "primeicons/primeicons.css";
@import 'tailwindcss';


@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-components {
  @tailwind components;
}

@layer tailwind-utilities {
  @tailwind utilities;
}
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');


 h1, h2, h3, h4, .heading {
  font-family: 'Titillium Web', sans-serif;
}
 
 @import 'tailwindcss';
 @import "primeicons/primeicons.css";

:root {
  /* Primary palette (optional but good) */
  --p-primary-500: 59 130 246;

  /* ✅ THIS CONTROLS BUTTON COLOR */
  --p-button-primary-background: rgb(59 130 246);
  --p-button-primary-border-color: rgb(59 130 246);
  --p-button-primary-hover-background: rgb(37 99 235);
}


.p-button {
  background: #3b82f6;
  border-color: #3b82f6;
}





